:root{
    --brown:#c49e45;
}

*{
    margin: 0; padding:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none; border: none;
    text-decoration: none;
    text-transform: none;
    transition: .2s linear;
}

body {
    background-image: url("../img/background3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

}


html{
        font-size: 62.5%;
        scroll-behavior: smooth;
        scroll-padding-top: 6rem;
        overflow-x: hidden;
}

section{
    padding: 2rem 5%; 
}

.heading {
    text-align: center;
    font-size: 4rem;
    color: #333;
    padding: 1rem;
    margin: 2rem 0;
    backdrop-filter: blur(5px);
}

.heading span{
    color: var(--brown);
}

header {
position: fixed;
top: 0; left: 0; right:0;
background:#fff;
padding:2rem 9%;
display: flex;
align-items: center;
justify-content: space-between;
z-index: 1000;
box-shadow: 0 .5rem 1rem O rgba(0,0,0,.1);
}

header .logo {
    font-size: 3rem;
    color: #333;
    font-weight: bolder;
}

header .logo span{
    color:var(--brown);
}

header .navbar a{
    font-size: 2rem;
    padding:0 1.5rem;
    color:#666;
} 
 
header .navbar a:hover{
    color:var(--brown); 
}

header .icons a{
    font-size: 2.5rem;
    color: #333;
    margin-left: 1.5rem;
}

header .icons a:hover{
    color:var(--brown);
}

header #toggler{
    display: none;
}

header .fa-bars{
    font-size: 3rem;
    color: #333;
    border-radius: .5rem;
    padding:.5rem 1.5rem;
    cursor: pointer;
    border:.1rem solid rgba(0,0,0,.3);
    display: none;
}

h1, p , table , th, td , ol,  div.steps, header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    text-align: center;
    color: #cca344;
    font-size: 4vw;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px 30px 10px 30px;
    backdrop-filter: blur(5px);
}

h4 {
    font-size: 3vw;
    font-weight: bold;
    text-align: center;
    color: #000000;
    border-radius: 10px;
    padding: 10px;
    margin: 20px 100px 20px 100px;

    backdrop-filter: blur(5px);
}

table {
  width:  80%;
  border-collapse: collapse;
  border-radius: 10px;
  margin: 0 50px 50px 50px;

}

th, th {
 padding :10px 10px;
 border-radius: 10px;
 text-align: left;

 margin-right: 340px;
 background-color: #fff;
}

td {
    font-size: 18px;
    padding: 2px;
}

.container {
    font-size :16px;
    position: center;
    display: flex;
    width: 85%;
    height: auto;
    margin: 90px auto;
    padding: 15px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0);
    border-radius: 20px;
    backdrop-filter: blur(5px);
    }

.left, .right{
    width: 45%;
    display: inline-block;
    box-sizing: border-box;

}
        
.img-holder{
    border: 5px solid #fff;
    margin: 50px;
    height: auto;
    max-width: 100%;
    border-radius: 10px;
}
        
.img-holder img{
    max-width: 100% ;
    height: auto;
    border-radius: 5px;
    
}


ol  {
    font-size : 1.5vw;
}

.step{
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    margin: 0 100px 0 100px;
    padding: 5px 100px 5px ;
    backdrop-filter: blur(5px);
    border-radius: 25px;
    
}

.review .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}

.review .box-container .box{
    flex: 1 1 30rem;
    box-shadow: 0 .5rem 1.5rem rgb(255, 254, 254);
    border-radius: .5rem;
    padding: 3rem 2rem;
    position: relative;
}

.review .box-container .box .fa-qoute-right{
    position: absolute;
    bottom: 3rem; right: 3rem;
    font-size: 6rem;
    color: #eee;
}

.review .box-container .box .stars i{
    color: var(--brown);
    font-size: 2rem;
}

.review .box-container .box p{
    color: #000000;
    font-size: 1.5rem;
    line-height: 1.5;
    padding-top: 2rem;
}


.review .box-container .box .user{
    display: flex;
    align-items: center;
    padding-top: 2rem;
}

.review .box-container .box .user img{
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem;
}

.review .box-container .box .user h3{
    font-size: 2rem;
    color: #333;
}

.review .box-container .box .user span{
    font-size: 1.5rem;
    color: #000000;
}


.contacts .row{
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 1.5rem;
    align-items: center;
}

.contacts .row form{
    flex: 1 1 40rem;
    padding: 2rem 2.5rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    border: .1rem solid rgba(0,0,0,.1);
    background: #fff;
    border-radius: .5rem;
}

.contacts .row .image{
    flex:1 1 40rem;
}

.contacts .row .image img{
    width: 100%;
}

.contacts .row form  .box{
    padding: 1rem;
    font-size: 1.7rem;
    color: #333;
    text-transform: none;
    border: .1rem solid rgba(0,0,0,.1);
    border-radius: .5rem;
    margin: .7rem 0;
    width: 100%;
}

.contacts .row form  .box{
    border-color: var(--brown);
}

.contacts .row form textarea{
    height: 15rem;
    resize: none;
}


footer {
    margin-top: auto;
}

.footer .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-left: auto;
    padding: 20px;
    border-radius: 25px;
    background-color: #eee;
}

.footer .box-container .box{
    flex: 1 1 25rem;

}

.footer .box-container .box h3{
    color: #333;
    font-size: 2.5rem;
    padding: 1rem 0;
}

.footer .box-container .box a{
    display: block;
    color: #666;
    font-size: 1.5rem;
    padding: 1rem 0;
}

.footer .box-container .box a:hover{
    color: var(--brown);
    text-decoration: underline;
}


.footer .credit{
    text-align: center;
    padding: 1.5rem;
    margin-top: 1.5rem;
    padding-left: 2.5rem;
    font-size: 2rem;
    color: #333;
    border-top: .1rem solid rgba(0, 0, 0,.1);
    background-color: #eee;
    border-radius: 25px;
}

.footer .credit span{
    color: var(--brown);
}




  /* media queries */
@media (max-width: 991px){
    html {
    font-size: 55%;
    }

    header {
    padding:2rem;
    }

    section {
        padding: 2rem;
    }

    .home {
        background-position: left;
    }
}


@media (max-width: 768px) {

    header .fa-bars {
        display: block;
    }

    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #eee;
        border-top: .1rem solid rgba(0, 0, 0, .1);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); /* updated property */
        display: none; /* added property */
    }

    header #toggler:checked ~ .navbar {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); /* updated property */
        display: block; /* added property */
    }



header .navbar a{
    margin:1.5rem; 
    padding:1.5rem;
    background:#fff;
    border:.1rem solid rgba(0,0,0,.1);
    display: block;
    }

.home .content h3{
    font-size: 5rem;
}

.home .content span{
    font-size: 2.5rem;
}

.icon-container .icons h3{
    font-size: 2rem;
}

.icon-container .icons span{
    font-size: 1.7rem;
}

}

@media (max-width:450px){

html{
    font-size: 50%;
    }

.heading {
    font-size: 3rem;
}

} 
